* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.container {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    background-color: #E4EEED;
   
    margin-bottom: 5%;
   
}
.image{
    width: 50%;
}
.contact-info {
    display: flex;
    align-items: center;
}
.div1{
    display: flex;
    gap: 10px;
   
}
.contact-form {
    padding: 2.3rem 10rem;
    margin-left: 20px; 
   border-radius: 10px;
    
}

.input{
    border: 3px solid black;
    color: black;
   
}

form {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.title {
   color:black;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    text-align: center;
}

.input-container {
    position: relative;
    margin: 1rem 0;
    border: 1px solid solid black;
   
}

label {
    display: none;
}

.input,
select {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.9rem 1.2rem;
   color: black;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid black;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
   color: black;
    resize: none;
    overflow-y: auto;
    width: 32rem;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
    
}

.btn {
    padding: 0.8rem 0.9rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    color: #1b7247;
    border-radius: 5px;
    outline: none;
    border: 2px solid #1b7247;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.btn:hover {
    background-color:#1b7247;
    color: #fff;
}



select {
    padding: 0.8rem 1.2rem;
    min-height: 50px;
    resize: none;
    overflow-y: auto;
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
}

option {
    color: black;
}

small {
    color:  rgba(255, 0, 0, 0.651);
    visibility: hidden;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

.input-container.error small {
    visibility: visible;
}

.input-container.success small {
    visibility: hidden;
}
.hidden{
    display: none;
}
.erreur {
    display: none;
    color: red;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#donneesContainer {
   margin:auto;
}



